footer
    .row
        .col-sm-12.col-md-12.col-lg-4.d-flex.justify-content-center.align-items.center My Logo
        .col-sm-12.col-md-12.col-lg-4.d-flex.justify-content-center.align-items.center Some Social Media Stuff
        .col-sm-12.col-md-12.col-lg-4.d-flex.justify-content-center.align-items.center Copyright Stuff
