footer
    .d-flex.justify-content-between.align-items-center
        .d-flex.flex-column.justify-content-center.align-items-around.margin-side-10
            p.d-flex.justify-content-center &copy; Mark Kraus
            p.d-flex.justify-content-center 2018
        .d-flex.flex-row.justify-content-around.margin-side-10
            a(href="https://www.linkedin.com/in/mark-kraus-b19858105/", target="blank")
                i.fa.fa-linkedin-square.fa-2x.footer-icon(aria-hidden="true")
            a(href="https://twitter.com/vinar1us", target="blank")
                i.fa.fa-twitter-square.fa-2x.footer-icon(aria-hidden="true")
            a(href="https://github.com/vinarius", target="blank")
                i.fa.fa-github-square.fa-2x.footer-icon(aria-hidden="true")
            a(href="https://www.twitch.tv/vorade", target="blank")
                i.fa.fa-twitch.fa-2x.footer-icon(aria-hidden="true")