footer
    .d-flex.justify-content-center.align-items-center
        .d-flex.flex-row.justify-content-around
            a(href="https://www.linkedin.com/in/mark-kraus-b19858105/", target="blank")
                i.fa.fa-linkedin-square.fa-2x.footer-icon(aria-hidden="true")
            a(href="https://twitter.com/vinar1us", target="blank")
                i.fa.fa-twitter-square.fa-2x.footer-icon(aria-hidden="true")
            a(href="https://github.com/vinarius", target="blank")
                i.fa.fa-github-square.fa-2x.footer-icon(aria-hidden="true")
            a(href="https://www.twitch.tv/vorade", target="blank")
                i.fa.fa-twitch.fa-2x.footer-icon(aria-hidden="true")