doctype html
html(lang="en")
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        link(rel="icon", type="image/png", href="https://dl.dropbox.com/s/jjicek28xaf6zlm/MKDesign_Final_v1_WHITE.png?dl=0")
        block styles
            //- Bootstrap css
            link(rel="stylesheet", href="https:///maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin="anonymous")
            //- Reset css
            link(rel="stylesheet", href="../../styles/reset.css", type="text/css")
            //- Google Font
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Gaegu", type="text/css")
            //- Main css
            link(rel="stylesheet", href="../../styles/main.css", type="text/css")
            //- Navbar css
            link(rel="stylesheet", href="../../styles/navbar.css", type="text/css")
            //- Footer.css
            link(rel="stylesheet", type="text/css", href="../../styles/footer.css")
    body
        include navbar.pug
        Main.d-flex.flex-column
            #underNav(style="height: 47.81px;")
            include login.pug
            block content
        include footer.pug
        block scripts
            script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js", integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js", integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1", crossorigin="anonymous")
            script(src="https://use.fontawesome.com/9d6d1d49a5.js")
            script(src="../../scripts/main.js", type="text/javascript")
            script(src="../../scripts/home.js", type="text/javascript")