var user = user

block append styles
    //- Navbar css
    link(rel="stylesheet", href="../../styles/navbar.css", type="text/css")

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.d-flex
    a.nav-button.mr-auto.navbar-brand.d-flex.justify-content-center.align-items-center.padding10(href="/") Vin Votes
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
            a(href="/user/dashboard")
                li.nav-button.d-flex.justify-content-center.align-items-center.nav-link.padding10= navbarGreeting
            a(href="/auth/logout")
                li.nav-button.d-flex.justify-content-center.align-items-center.nav-link.padding10 Log Out
            a#loginNavBtn(href="#")
                li.nav-button.d-flex.justify-content-center.align-items-center.nav-link.padding10 Log In