nav.d-flex.flex-row.justify-content-between
    a#vinVotesLogo.d-flex.justify-content-center.align-items-center.padding10(href="/") Vin Votes
    if user
        .btn-group
            button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= welcome
            .dropdown-menu.dropdown-menu-right
                a(href="/user/profile")
                    button.dropdown-item(type="button") Profile
                a(href="/user/dashboard")
                    button.dropdown-item(type="button") Dashboard
                a(href="/auth/logout")
                    button.dropdown-item(type="button") Log Out
    else        
        .btn-group
            button.btn.btn-secondary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Log In
            .dropdown-menu.dropdown-menu-right
                a(href="/auth/google")
                    button.dropdown-item(type="button") Google
                a(href="/auth/facebook")
                    button.dropdown-item(type="button") Facebook (WIP)