nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.d-flex
    a.mr-auto.navbar-brand(href="/") Vin Votes
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarNav
        ul.navbar-nav.ml-auto
            //- if req.isAuthenticated()
            li.nav-item
                a.nav-link(href="/user/profile") Hello User
            li.nav-item
                a.nav-link(href="/auth/logout") Log Out
            li.nav-item
                a.nav-link(href="/auth/login") Log In