:root {
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: green;
    font-weight: bold;
}

a:hover {
    color: blue;
}

.code-highlight {
    color: greenyellow;
    background-color: #222;
    border-radius: 5px;
    padding: 0px 2px;
}

.customMb-5 {
    margin-bottom: 5rem;
}

.customMt-1 {
    margin-top: 1rem;
}

.customMt-3 {
    margin-top: 3rem;
}

.customMt-5 {
    margin-top: 5rem;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
}

li {
    line-height: 1.5em;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 20%;
}

#scatterplot {
    width: 900px;
    height: 600px;
    border: 1px solid #333;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

#title {
    font-size: 1.75em;
    font-weight: 650;
}

ul {
    list-style-type: disc;
}

.user-story-item-title {
    font-weight: 600;
}