.btn {
    border-radius: 0;
}

.btn-group:hover button:hover, .dropdown-item:hover {
    cursor: pointer;
}

.btn-secondary {
    background-color: inherit;
    border-color: #343A40;
}

#googleLoginBtn {
    background-color: #888;
    color: #eee;
    height: 35px;
    width: 75px;
    border-radius: 5px;
    cursor: pointer;
}

#googleLoginBtn:hover {
    background-color: #eee;
    color: #555;
}

#login-popup-container {
    padding: 10px;
    position: absolute;
    margin-left: 90vw;
    opacity: 0;
}

.mr-2 {
    margin-right: 2em !important;
}

nav {
    height: 40px;
    font-family: 'Gaegu', cursive;
    background-color: #343A40;
    color: #fff;
}

nav a {
    height: 100%;
    padding: 0px;
}

.nav-button {
    color: #fff;
    transition: color 0.25s, background-color 0.25s;
}

.nav-button:hover {
    color: #555 !important;
    background-color: #eee;
}

.navbar {
    padding: 0px;
}

.nav-link {
    padding: 0px;
}

#vinVotesLogo {
    color: #fff;
    transition: background-color 0.3s;
    height: 100% !important;
}

#vinVotesLogo:hover {
    background-color: #727B84;
}