extends components/layout

block content
    .d-flex.flex-column.align-items-start.ml-5
        ul(style="list-style-type: disc; list-style-position: inside;").d-flex.flex-column.align-items-start.mt-5 Dashboard
            li.mt-2 Change my polls button to create poll and make interface.
            li After creating a poll, dynamically update poll list
            li When user votes, set boolean for poll so they only vote once
        ul(style="list-style-type: disc; list-style-position: inside;").d-flex.flex-column.align-items-start.mt-5 Public Polls
            li.mt-2 Create Public Polls route
        ul(style="list-style-type: disc; list-style-position: inside;").d-flex.flex-column.align-items-start.mt-5 User Profile
            li.mt-2 When user votes, increment vote count