extends components/layout

block append styles
    //- dashboard.css
    link(rel="stylesheet", type="text/css", href="../../styles/dashboard.css")

block content
    #banner.d-flex.justify-content-around.align-items-center.flex-column
        .d-flex.justify-content-center Dashboard
        .d-flex.justify-content-center(style="font-size: 0.5em;") What would you like to do?
        .d-flex.justify-content-center.flex-row(style="margin: 20px;")
            a(href="#")
                button.btn.btn-light.home-button My Polls
            a(href="#")
                button#myPollsBtn.btn.btn-light.home-button Public Polls
    .row.pb-3(style="background-color: #ccc;")
        .col-sm-6.d-flex.flex-column.align-items-center#my-Poll-Dashboard-Window.mt-5
            //- ajax call from canvas.js populates list with polls created by user in db
            i.fas.fa-sync.fa-3x.fa-spin.mt-5.d-none#pollListLoadingIcon
        .col-sm-6.mb-5
            #pollDisplayNameContainer.d-none.justify-content-center
            .chart-row.d-none.flex-column.align-items-center
                .chart-container.d-flex.flex-column.align-items-center
                    canvas#pollCanvas(width="350", height="350")
                #voteOptionsContainer.d-flex.flex-row.justify-content-around
                #addDatasetFormContainer.d-flex.flex-column-reverse
                    #addDatasetWarningContainer.d-none.justify-content-center Dataset already exists.
    form#pollSearchForm.d-flex.flex-column.align-items-center
        p Search for a poll
        .d-flex.flex-row
            input#formInputName(type="text", placeholder="Poll Name")
            button.formInputSubmitBtn.btn.btn-primary(type="submit") Submit
block append scripts
    script(type="text/javascript", src="../../scripts/canvas.js")