extends components/layout

block append styles
    //- dashboard.css
    link(rel="stylesheet", type="text/css", href="../../styles/dashboard.css")

block content
    #banner.d-flex.justify-content-around.align-items-center.flex-column
        .d-flex.justify-content-center Dashboard
        .d-flex.justify-content-center(style="font-size: 0.5em;") What would you like to do?
        .d-flex.justify-content-center.flex-row(style="margin: 30px;")
            a(href="#")
                button.btn.btn-light.home-button Create Poll
            a(href="#")
                button#myPollsBtn.btn.btn-light.home-button My Polls
    .row.pb-3(style="background-color: #ccc;")
        .col-sm-6.d-flex.flex-column.align-items-center.pt-3#my-Poll-Dashboard-Window
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
            p My poll listing info.
        .col-sm-6.mb-3
            #pollDisplayNameContainer.d-none.justify-content-center
            .chart-row.d-none.flex-column.align-items-center
                .chart-container.d-flex.flex-column.align-items-center
                    canvas#pollCanvas(width="350", height="350")
                #voteOptionsContainer.d-flex.flex-row.justify-content-around
                #addDatasetFormContainer.d-flex.flex-column-reverse
                    #addDatasetWarningContainer.d-none.justify-content-center Dataset already exists.
    .d-flex.justify-content-center(style="background-color: #999;")
        a(href="/globalPollSearch").title-Link Looking for Someone else's poll?
            form#pollSearchForm.d-flex.flex-column.align-items-center
                p Search for a poll
                .d-flex.flex-row
                    input#formInputName(type="text", placeholder="Poll Name")
                    button.formInputSubmitBtn.btn.btn-primary(type="submit") Submit
block append scripts
    script(type="text/javascript", src="../../scripts/canvas.js")