extends components/layout

block append styles
    //- dashboard.css
    link(rel="stylesheet", type="text/css", href="../../styles/dashboard.css")

block content
    ul.d-flex.flex-row.justify-content-center
        li.d-flex.justify-content-center.padding10
            button#createPoll.d-flex-justify-content-center.align-items-center.btn.btn-primary.dashboard-btn(type="button") Create Poll
        li.d-flex.justify-content-center.padding10
            button#deleteAllPolls.d-flex-justify-content-center.align-items-center.btn.btn-danger.dashboard-btn(type="button") Delete All Polls
    ul.d-flex.flex-column.align-items-center
        #pollsCreated.d-flex.flex-column.align-items-center
    br
    form#pollSearchForm.d-flex.flex-column.align-items-center
        p Search for a poll
        .d-flex.flex-row
            input#formInputName(type="text", placeholder="Poll Name")
            button#formInputSubmitBtn.btn.btn-primary(type="submit") Submit
    .chart-row.d-flex.flex-column.align-items-center
        .chart-container.d-flex.flex-column.align-items-center
            canvas#pollCanvas(width="400", height="400")
        #addDatasetFormContainer.d-flex.flex-row

block append scripts
    script(type="text/javascript", src="../../scripts/canvas.js")