extends components/layout

block append styles
    //- dashboard.css
    link(rel="stylesheet", type="text/css", href="../../styles/dashboard.css")

block content
    ul.d-flex.flex-row.justify-content-center
        li.d-flex.justify-content-center.padding10
            button#createPoll.d-flex-justify-content-center.align-items-center.btn.btn-primary.dashboard-btn(type="button") Create Poll
        li.d-flex.justify-content-center.padding10
            button#deleteAllPolls.d-flex-justify-content-center.align-items-center.btn.btn-danger.dashboard-btn(type="button") Delete All Polls
    ul.d-flex.flex-column.align-items-center
        #pollsCreated.d-flex.flex-column.align-items-center
    br
    form.d-flex.justify-content-center
        input#formInputName(type="text")
        button#formInputSubmitBtn.btn.btn-primary(type="submit") Submit
    .chart-row.d-flex.justify-content-center
        .chart-container
            canvas#pollCanvas(width="400", height="400")

block append scripts
    script(type="text/javascript", src="../../scripts/canvas.js")