extends components/layout

block append styles
    //- dashboard.css
    link(rel="stylesheet", type="text/css", href="../../styles/dashboard.css")

block content
    #banner.d-flex.justify-content-around.align-items-center.flex-column
        .d-flex.justify-content-center Dashboard
        .d-flex.justify-content-center(style="font-size: 0.5em;") What would you like to do?
        .d-flex.justify-content-center.flex-row(style="margin: 20px;")
            a(href="#")
                button.btn.btn-light.home-button Create Poll
            a(href="#")
                button#myPollsBtn.btn.btn-light.home-button Public Polls
    .row.pb-3(style="background-color: #ccc;")
        .col-sm-6.d-flex.flex-column.align-items-center#my-Poll-Dashboard-Window.mt-5
            .my-Poll-Listing
                a(href="#").my-Poll-Listing-Subelement.ml-auto.pl-5 My Poll
                a(href="#").btn.btn-danger.my-Poll-Listing-Subelement-Absolute X
        .col-sm-6.mb-5
            #pollDisplayNameContainer.d-none.justify-content-center
            .chart-row.d-none.flex-column.align-items-center
                .chart-container.d-flex.flex-column.align-items-center
                    canvas#pollCanvas(width="350", height="350")
                #voteOptionsContainer.d-flex.flex-row.justify-content-around
                #addDatasetFormContainer.d-flex.flex-column-reverse
                    #addDatasetWarningContainer.d-none.justify-content-center Dataset already exists.
block append scripts
    script(type="text/javascript", src="../../scripts/canvas.js")