extends components/layout

block content
    .d-flex.flex-row.justify-content-center
        a(href="/auth/facebook")
            #facebookLoginBtn.d-flex.align-items-center.justify-content-center Facebook
        a(href="/auth/google")
            #googleLoginBtn.d-flex.align-items-center.justify-content-center Google